*::-webkit-scrollbar { 
    display: none;  /* Scrollbar Fix, Chrome? and Apple Runtime */
}

ion-menu .inner-scroll::-webkit-scrollbar {
    display: none;
}

ion-menu ion-content {
    --background: var(--ion-menu-background);
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
    background-color: var(--ion-menu-background);

    --background: var(--ion-menu-background);
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header, ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  --background: var(--ion-menu-background) !important;
  border-radius: 4px;

}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-menu-accent);
}

ion-menu.md ion-item ion-icon {
    color: var(--ion-menu-accent);
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
    background-color: var(--ion-menu-background);

    --background: var(--ion-menu-background);
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --background: var(--ion-menu-background) !important;
}

ion-menu.ios ion-item ion-icon {
  font-size: 20px;
  color: var(--ion-menu-accent);
}

ion-menu.ios ion-item .selected ion-icon {
  color: var(--ion-menu-accent);
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
    color: var(--ion-color-primary);
} 

ion-menu.ios ion-item.menu-item {
    /*padding-left: 15px;*/
    --padding-start: 30px !important;
    font-weight: 500;
    font-size: 18px;
}

ion-menu.md ion-item.menu-item {
    /*padding-left: 15px;*/
    --padding-start: 30px !important;
    font-weight: 500;
    font-size: 18px;
}

ion-menu.md ion-item.menu-upcoming {
    padding-bottom: 10px;
}

ion-item.menu-project {
    /*padding-left: 15px;*/
    --min-height: 3px;
    font-size: 1px;
}

ion-item.menu-upcoming {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
}

ion-menu.ios ion-label.menu-label {
    padding-left:18px;
    font-weight: 700;
    font-size: 14px;
    color: var(--ion-color-medium-shade);
}

ion-menu.md ion-label.menu-label {
    padding-left:10px;
    font-weight: 700;
    font-size: 14px;
    color: var(--ion-color-medium-shade);
}

ion-label.menu-text {
    color: var(--ion-menu-accent) !important;
}



