ion-checkbox {
    --checkmark-width: 3px;
    --checkmark-color: var(--task-checkmark);
    --border-color: var(--task-checkbox);
    --border-color-checked: var(--task-checkbox);
    --background-checked: var(--task-checkbox-feature);
}

ion-item {
    --padding-end: 0px !important;
    --padding-start: 4px !important;
}

ion-item.ios {
    --border-style: none;
}

ion-item.md {
    --min-height: 4px;
}

ion-item.md ion-checkbox {
    margin-right: 10px;
}

